@import url(./_fonts.css);
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background: url("../img/img/img.jpg") no-repeat;
   background-size: cover;
   background-position: top center;
}
.container {
   width: 1170px;
   margin: 180px auto;
}
.services__container {
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.column__items {
   display: flex;
   justify-content: space-evenly;
   width: 400px;
   height: 80px;
   background-color: #fff;
   margin-bottom: 30px;
   box-shadow: 0 2px 10px rgb(0 0 0 / 70%);
}
.column__title {
   font-size: 20px;
   text-align: center;
   width: 300px;
   height: 80px;
   border-right: 2px solid #9d9d9d;
   padding-top: 25px;
}
.column__img {
   display: block;
   width: 55px;
   height: 80px;
}
.column__img:hover {
   fill: #70bfff;
   stroke: #000000;
   
}
.services__title {
   font-size: 55px;
   color: #fff;
}